@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: white
  
}

@layer base {
  
  html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    @apply text-mira-subhead-text-black
  }

  body {
    @apply tracking-tight
  }
}

.star-icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: '#ff7214'; /* Replace with your background color */
  clip-path: url(#star-clip-path);
}

/* Define the clipPath */
.svg-clip-path {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
